@model Schedule.ViewModels.TimetableViewModel

@*==== Title ====*@
<div class="big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Редактирование расписания</h2>
            </div>
        </div>
    </div>
</div>

<div class="content-area">
    <div class="container">
        <form method="post" asp-controller="Timetable" asp-action="EditTimetable">
            <div asp-validation-summary="ModelOnly"></div>

            @*==== Information ====*@
            <div class="content-block">
                <div class="content-form">
                    <h2>Основная информация</h2>
                    <div>
                        <label class="control-label" asp-for="TimetableName"></label><br />
                        <input class="form-control" placeholder="Введиите название расписания" asp-for="TimetableName" />
                        <span class="text-danger" asp-validation-for="TimetableName"></span>
                    </div>
                    <div>
                        <label class="control-label" asp-for="Owner"></label> <br />
                        <input type="hidden" placeholder="Введиите название расписания" asp-for="Owner" />
                        <span>@Model.Owner</span>
                    </div>
                </div>
            </div>

            @*==== Timetable ====*@
            <div class="content-block">
                <div class="content-form">
                    <h2>Расписание</h2>
                    <div class="content-center">
                        <p class="text-description">
                            Расписание еще не сформировано
                        </p>
                    </div>
                    <a class="button" asp-controller="Timetable" asp-action="DeleteTimetable" asp-route-id="">Сформировать расписание</a>
                </div>
            </div>

            @*==== Weekend ====*@
            <div class="content-block">
                <div class="content-form">
                    <h2>Выходные дни</h2>
                    <p class="text-description">
                        Дни, которые будут выходными для всех работников этого расписания.
                    </p>
                    <div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" asp-for="Monday" />
                            <label class="form-check-label" asp-for="Monday"></label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" asp-for="Tuesday" />
                            <label class="form-check-label" asp-for="Tuesday"></label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" asp-for="Wednesday" />
                            <label class="form-check-label" asp-for="Wednesday"></label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" asp-for="Thursday" />
                            <label class="form-check-label" asp-for="Thursday"></label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" asp-for="Friday" />
                            <label class="form-check-label" asp-for="Friday"></label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" asp-for="Saturday" />
                            <label class="form-check-label" asp-for="Saturday"></label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" asp-for="Sunday" />
                            <label class="form-check-label" asp-for="Sunday"></label>
                        </div>
                    </div>
                </div>
            </div>

            @*==== Shifts ====*@
            <div class="content-block">
                <div class="content-form">
                    <h2>Смены</h2>
                    <p class="text-description">
                        Добавление смен. Укажите время начала и окончания смены.
                        Также следует указать необходимое количество работников для данной смены.
                    </p>
                    <div class="row gy-3">
                        @if (Model != null && Model.ShiftViewModels != null && Model.ShiftViewModels.Count > 0)
                        {
                            @for (var i = 0; i < Model.ShiftViewModels.Count; i++)
                            {
                                <div class="col-lg-3">
                                    <div class="content-block card-element complete">
                                        <div class="content-form">
                                            <div>
                                                <label class="control-label" asp-for="@Model.ShiftViewModels[i].Start"></label><br />
                                                <input class="form-control" type="time" asp-for="@Model.ShiftViewModels[i].Start" />

                                            </div>
                                            <div>
                                                <label class="control-label" asp-for="@Model.ShiftViewModels[i].End"></label><br />
                                                <input class="form-control" type="time" asp-for="@Model.ShiftViewModels[i].End" />

                                            </div>
                                            <div>
                                                <label class="control-label" asp-for="@Model.ShiftViewModels[i].EmployeesNumber"></label><br />
                                                <input class="form-control" type="number" asp-for="@Model.ShiftViewModels[i].EmployeesNumber" />

                                            </div>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" asp-for="@Model.ShiftViewModels[i].IsQuaranteeWeekend" />
                                                <label class="form-check-label" asp-for="@Model.ShiftViewModels[i].IsQuaranteeWeekend"></label>
                                            </div>
                                            <input class="button-white button-remove-shift" type="submit" onclick="RememberScrollPosition()"
                                           asp-action="RemoveShiftToTimetable" asp-route-id="@ViewBag.id" asp-route-index="@i" value="Удалить">
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                        @if (Model != null && Model.NewShiftViewModel != null)
                        {
                            <div class="col-lg-3">
                                <div class="content-block card-element">
                                    <div class="content-form">
                                        <div>
                                            <label class="control-label" asp-for="@Model.NewShiftViewModel.Start"></label><br />
                                            <input class="form-control" type="time" asp-for="@Model.NewShiftViewModel.Start" />

                                        </div>
                                        <div>
                                            <label class="control-label" asp-for="@Model.NewShiftViewModel.End"></label><br />
                                            <input class="form-control" type="time" asp-for="@Model.NewShiftViewModel.End" />

                                        </div>
                                        <div>
                                            <label class="control-label" asp-for="@Model.NewShiftViewModel.EmployeesNumber"></label><br />
                                            <input class="form-control" type="number" asp-for="@Model.NewShiftViewModel.EmployeesNumber" />

                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" asp-for="@Model.NewShiftViewModel.IsQuaranteeWeekend" />
                                            <label class="form-check-label" asp-for="@Model.NewShiftViewModel.IsQuaranteeWeekend"></label>
                                        </div>
                                        <input class="button" type="submit" onclick="RememberScrollPosition()" asp-action="AddShiftToTimetable" asp-route-id="@ViewBag.id" value="Добавить">
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>

            @*==== Employees ====*@
            <div class="content-block">
                <div class="content-form">
                    <h2>Работники</h2>
                    <p class="text-description">
                        Добавьте работников в ваше расписание.
                    </p>
                    <p class="text-description">
                        Cотрудников: <span>@(Model?.EmployeeViewModels?.Count ?? 0)</span>
                    </p>
                    <a class="button" id="empButtonOpen" onclick="OpenEmployeeList()">Редактировать список</a>
                    <a class="button-white" id="empButtonClose" onclick="HideEmployeeList()">Скрыть список</a>
                    <div id="empList">
                        @if (Model != null && Model.NewEmployeeViewModel != null)
                        {
                            <div class="row emp-element">
                                <div class="col-auto">
                                    <input class="form-control" placeholder="Фамилия" asp-for="@Model.NewEmployeeViewModel.LastName" />

                                </div>
                                <div class="col-auto">
                                    <input class="form-control" placeholder="Имя" asp-for="@Model.NewEmployeeViewModel.FirstName" />

                                </div>
                                <div class="col-auto">
                                    <input class="form-control" placeholder="Отчество" asp-for="@Model.NewEmployeeViewModel.Surname" />

                                </div>
                                <div class="col-auto">
                                    <input class="form-control" placeholder="Email" asp-for="@Model.NewEmployeeViewModel.Email" />
                                </div>
                                <div class="col">
                                    <input class="button" type="submit" onclick="RememberScrollPosition()"
                                       asp-action="AddEmployeeToTimetable" asp-route-id="@ViewBag.id" value="Добавить">
                                </div>
                            </div>
                        }
                        @if (Model != null && Model.EmployeeViewModels != null && Model.EmployeeViewModels.Count > 0)
                        {
                            <div class="emp-list-block gy-5">
                                @for (var i = 0; i < Model.EmployeeViewModels.Count; i++)
                                {
                                    <div class="row emp-element">
                                        <div class="col-auto">
                                            <input class="form-control" placeholder="Фамилия" asp-for="@Model.EmployeeViewModels[i].LastName" />

                                        </div>
                                        <div class="col-auto">
                                            <input class="form-control" placeholder="Имя" asp-for="@Model.EmployeeViewModels[i].FirstName" />

                                        </div>
                                        <div class="col-auto">
                                            <input class="form-control" placeholder="Отчество" asp-for="@Model.EmployeeViewModels[i].Surname" />

                                        </div>
                                        <div class="col-auto">
                                            <input class="form-control" placeholder="Email" asp-for="@Model.EmployeeViewModels[i].Email" />

                                        </div>
                                        <div class="col">
                                            <input class="button-white button-remove-shift" type="submit" onclick="RememberScrollPosition()"
                                           asp-action="RemoveEmployeeToTimetable" asp-route-id="@ViewBag.id" asp-route-index="@i" value="Удалить">
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>            

            @*==== Buttons ====*@
            <div class="content-menu column-gap-2">
                <input class="button" type="submit" value="Сохранить" />
                <a class="button-white" asp-controller="Timetable" asp-action="DeleteTimetable" asp-route-id="@ViewBag.id">Удалить расписание</a>
            </div>

        </form>
    </div>
</div>

@section Scripts
    {
    <script>
        function OpenEmployeeList() {
            document.getElementById("empButtonOpen").style.display = 'none';
            document.getElementById("empButtonClose").style.display = 'block';
            document.getElementById("empList").style.display = 'block';
            localStorage.setItem("empListState", "Opened");
        }

        function HideEmployeeList() {
            document.getElementById("empButtonOpen").style.display = 'block';
            document.getElementById("empButtonClose").style.display = 'none';
            document.getElementById("empList").style.display = 'none';
            localStorage.setItem("empListState", "Closed");
        }

        function RememberScrollPosition() {
            localStorage.setItem("scrollPosition", window.scrollY);
        };

        document.addEventListener("DOMContentLoaded", Ready);
        function Ready() {
            var scrollPosition = localStorage.getItem("scrollPosition");
            if (scrollPosition !== null) {
                window.scrollTo({
                    top: scrollPosition,
                    behavior: "instant"
                });
            }
            localStorage.removeItem("scrollPosition");

            if (localStorage.getItem("empListState") == "Opened") {
                OpenEmployeeList();
            } else {
                HideEmployeeList();
            }

            var i = $("#body-shift > div").length;
            if (i >= 4) {
                document.getElementById("hide").style.display = 'none';
                document.getElementById("hide").style.minHeight = "0";
            }
        }
    </script>
}